section.awards
  padding-top: 50px
  h3
    margin: 0 auto 50px auto
  .trophy-container
    height: 500px
    width: 400px
    max-width: 90%
    margin: auto auto 100px auto
    object
      max-width: 100%
  .qual-bar
    height: 150px
    width: 100%
    background: $primary-grey
    display: flex
    flex-direction: column
    justify-content: center
    .container
      margin: auto
      width: 620px
      display: flex
      justify-content: space-between
      .qualifications
        display: flex
        p
          font-family: $heading-font
          font-size: 48px
          color: white
          padding: 0
        p.label
          font-size: 24px
          padding: 0 12px

@media (max-width: 680px)
  section.awards
    .qual-bar
      padding: 20px 0
      .container
        width: 100%
        flex-direction: column
        .qualifications
          margin: 20px auto