section.clubs
  hr
    max-width: 310px
    margin: auto
  .club-container
    background: linear-gradient(to bottom right, rgba(187, 107, 217, 0.9), rgba(86, 204, 242, 0.9)), url('../img/TSA-bg.jpeg') center
    background-attachment: fixed
    background-color: white
    background-size: cover
    height: 600px
    display: flex
    flex-direction: column
    justify-content: center
    h4
      max-width: 620px
      margin: 0 auto 8px
      padding: 0 12px
      font:
        family: $heading-font
        size: 36px
        weight: normal
      text-shadow: 1px 1px 3px rgba(0,0,0,0.25)
      color: white
    p
      max-width: 620px
      margin: 0 auto
      color: white
      text-shadow: 1px 1px 3px rgba(0,0,0,0.25)
