section.diversity
  display: flex
  .diversity-images
    background: pink
    width: 50vw
    display: flex
    flex-wrap: wrap
    img
      height: 10vw
      width: 20%
  .diversity-blurb
    background: $primary-grey
    min-height: 40vw
    width: 50vw
    display: flex
    flex-direction: column
    justify-content: center
    h3
      color: white
      max-width: 620px
      margin-bottom: 25px
    p
      color: white
      max-width: 620px
      margin: 0 auto 50px

@media (max-width: 800px)
  section.diversity
    flex-wrap: wrap-reverse
    .diversity-images
      width: 100vw
      img
        height: 20vw
        width: 20%
    .diversity-blurb
      width: 100vw