section.hero
  height: 100vh
  display: flex
  justify-content: center
  flex-direction: column
  background: linear-gradient(to bottom right, rgba(86, 204, 242, 0.8), rgba(111, 207, 151, 0.8)), url('../img/hero-background.jpeg') bottom
  background-size: cover
  font-family: $display-font
  h2
    text-align: center
    font-size: 4rem
    color: white
    font-weight: normal
    opacity: 0.9
  h1
    text-align: center
    font-size: 6rem
    color: #4F4F4F
    font-weight: normal
    opacity: 0.9
  a
    font-size: 2.25rem
    font-family: $display-font
    text-decoration: none
    color: white
    position: absolute
    bottom: 0
    left: 12px
    transition: transform 100ms ease-in-out
    opacity: 0.9
    &:hover
      transform: scale(1.1)

@media (max-width: 900px)
  section.hero
    h2
      font-size: 3rem
    h1
      font-size: 4.5rem
    a
      font-size: 1.8rem

@media (max-width: 520px)
  section.hero
    h1
      font-size: 3rem
