section.hours
  height: 500px
  background: $color-purple
  display: flex
  flex-direction: column
  h3
    color: white
  .alarm-container
    position: relative
    margin: auto
    object
      height: 235px
      max-width: 100%
  &:after
    width: 105vw
    overflow: hidden
    margin-top: auto
    height: 10vw
    display: block
    content: ""
    background: linear-gradient(to left bottom, $color-purple 50%, white 50.5%)