section.outreach
  background: $color-green
  display: flex
  .outreach-text
    width: 70vw
    margin: 50px 0
    h3
      color: white
      text-align: left
      max-width: 620px
      margin: 0 auto 8px
    p
      color: white
      max-width: 620px
      margin: 0 auto 8px

@media (max-width: 800px)
  section.outreach
    flex-direction: column
    .outreach-text
      width: 100%