section.routine
  height: 400px
  background: $color-green
  display: flex
  flex-direction: column
  justify-content: space-between
  h3
    text-align: center
    color: white
    width: 33%
    padding: 50px 0
    margin: auto
