section.routine
  background: $color-green
  display: flex
  flex-direction: column
  justify-content: space-between
  h3
    color: white
  .calendar-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 620px
    margin: auto
    .work-day
      height: 64px
      width: 64px
      background: white
      border-radius: 100%
      border: solid white 4px
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      transition: border 200ms ease-in-out
      margin: auto 0
      p
        font-size: 20px
        color: $color-green
        padding: 0
        text-align: center
        cursor: default
    .off-day
      height: 32px
      width: 32px
      background: white
      border-radius: 100%
      border: solid white 4px
      margin: auto 0
      position: relative
    .mandatory-active
      border: solid $color-purple 4px
    .optional-active
      border: solid $color-blue 4px
    .calendar-bar
      height: 6px
      flex-grow: 1
      background: white
      margin: auto 0
  .day-container
    width: 620px
    margin: 25px auto 0
    display: flex
    justify-content: center
    div
      border-left: 4px solid $color-green
      transition: border 200ms ease-in-out
    h4
      padding: 12px
      color: white
      font-family: $heading-font
      font-size: 20px
    p
      color: white
    .mandatory-active
      border-left: 4px solid white
      border-top: 4px solid white
    .optional-active
      border-left: 4px solid white
      border-top: 4px solid white

@media (max-width: 680px)
  section.routine
    .calendar-container
      width: 95%
      .work-day
        max-width: 12vw
        max-height: 12vw
      .off-day
        max-width: 6vw
        max-height: 6vw
    .day-container
      width: 95%

@media (max-width: 400px)
  section.routine
    .calendar-container
      .work-day
        p
          font-size: 16px