section.teacher
  padding-top: 50px
  h3
    margin: 0 auto 50px auto
  .teacher-img
    background: linear-gradient(to bottom right, rgba(187, 107, 217, 0.4), rgba(111, 207, 151, 0.4)), url('../img/teacher-placeholder.jpeg') center
    background-size: cover
    width: 300px
    height: 300px
    max-width: 70vw
    max-height: 70vw
    border-radius: 100%
    margin: auto
  p
    max-width: 620px
    margin: 50px auto
