section.values
  height: 500px
  background: $color-blue
  display: flex
  flex-direction: column
  &:before
    width: 105vw
    overflow: hidden
    height: 10vw
    display: block
    content: ""
    background: linear-gradient(to left bottom, white 50%, $color-blue 50.5%)
  .value-container
    width: 620px
    margin: auto auto 0 auto
    display: flex
    justify-content: space-between
    .value-icon
      height: 128px
      width: 128px
      background: white
      border-radius: 100%
    p
      text-align: center
      margin-top: 12px
      color: white
      font-size: 24px
  h3
    color: white
