* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row-reverse; }
  body main {
    flex: auto;
    overflow: hidden; }
    body main h3 {
      text-align: center;
      font-size: 2.25rem;
      margin: 50px auto;
      color: #333333;
      font-family: "Ubuntu";
      font-weight: normal;
      padding: 0 12px;
      max-width: 620px; }
    body main p {
      font-size: 1.125rem;
      color: #4F4F4F;
      font-family: "Nunito";
      padding: 0 12px; }

@media (max-width: 900px) {
  body main h3 {
    font-size: 2rem; }
  body main p {
    font-size: 1rem; } }
footer {
  height: 150px;
  background: #333333; }

.nav-btn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center; }
  .nav-btn span, .nav-btn span:before, .nav-btn span:after {
    content: "";
    display: block;
    height: 8px;
    width: 50px;
    border-radius: 2px;
    background: #828282;
    opacity: 0.9;
    position: relative;
    margin: auto; }
  .nav-btn span:before {
    top: 16px; }
  .nav-btn span:after {
    top: -24px; }

nav {
  width: 0;
  overflow: hidden; }

section.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom right, rgba(86, 204, 242, 0.8), rgba(111, 207, 151, 0.8)), url("../img/hero-background.jpeg") bottom;
  background-size: cover;
  font-family: "Anton"; }
  section.hero h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: normal;
    opacity: 0.9; }
  section.hero h1 {
    text-align: center;
    font-size: 6rem;
    color: #4F4F4F;
    font-weight: normal;
    opacity: 0.9; }
  section.hero a {
    font-size: 2.25rem;
    font-family: "Anton";
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: transform 100ms ease-in-out;
    opacity: 0.9; }
    section.hero a:hover {
      transform: scale(1.1); }

@media (max-width: 900px) {
  section.hero h2 {
    font-size: 3rem; }
  section.hero h1 {
    font-size: 4.5rem; }
  section.hero a {
    font-size: 1.8rem; } }
@media (max-width: 520px) {
  section.hero h1 {
    font-size: 3rem; } }
section.introduction {
  min-height: 450px; }
  section.introduction p {
    margin: 20px auto 0 auto;
    line-height: 1.4em;
    max-width: 620px; }

section.values {
  height: 500px;
  background: #56CCF2;
  display: flex;
  flex-direction: column; }
  section.values:before {
    height: 100px;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, white 50%, #56CCF2 50%); }
  section.values .value-container {
    width: 620px;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between; }
    section.values .value-container .value-icon {
      height: 128px;
      width: 128px;
      background: white;
      border-radius: 100%; }
    section.values .value-container p {
      text-align: center;
      margin-top: 12px;
      color: white;
      font-size: 24px; }
  section.values h3 {
    color: white; }

section.routine {
  height: 400px;
  background: #6FCF97;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section.routine h3 {
    color: white; }

section.hours {
  height: 500px;
  background: #BB6BD9;
  display: flex;
  flex-direction: column; }
  section.hours h3 {
    color: white; }
  section.hours .alarm-container {
    position: relative;
    margin: auto; }
    section.hours .alarm-container object {
      height: 235px; }
    section.hours .alarm-container p {
      position: absolute;
      font-size: 132px;
      text-align: center;
      bottom: 30px;
      left: 0;
      right: 0;
      width: 400px;
      margin: 0 auto;
      opacity: 0.9; }
      section.hours .alarm-container p span {
        font-size: 32px; }
  section.hours:after {
    margin-top: auto;
    height: 100px;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, #BB6BD9 50%, white 50%); }

section.awards .trophy-container {
  height: 500px;
  width: 400px;
  margin: auto auto 50px auto;
  background: #828282; }
section.awards .qual-bar {
  height: 150px;
  width: 100%;
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  section.awards .qual-bar .container {
    margin: auto;
    width: 620px;
    display: flex;
    justify-content: space-between; }
    section.awards .qual-bar .container .qualifications {
      display: flex; }
      section.awards .qual-bar .container .qualifications p {
        font-family: "Ubuntu";
        font-size: 48px;
        color: white;
        padding: 0; }
      section.awards .qual-bar .container .qualifications p.label {
        font-size: 24px;
        padding: 0 12px; }

section.teacher .teacher-img {
  background: linear-gradient(to bottom right, rgba(187, 107, 217, 0.4), rgba(111, 207, 151, 0.4)), url("../img/teacher-placeholder.jpeg") center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: auto; }
section.teacher p {
  max-width: 620px;
  margin: 50px auto; }

section.diversity {
  display: flex; }
  section.diversity .diversity-images {
    background: pink;
    height: 40vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap; }
    section.diversity .diversity-images img {
      height: 10vw;
      width: 20%; }
  section.diversity .diversity-blurb {
    background: #333333;
    height: 40vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.diversity .diversity-blurb h3 {
      color: white; }

section.clubs hr {
  max-width: 310px;
  margin: auto; }
section.clubs .club-container {
  background: linear-gradient(to bottom right, rgba(187, 107, 217, 0.9), rgba(86, 204, 242, 0.9)), url("../img/TSA-bg.jpeg") center;
  background-attachment: fixed;
  background-color: white;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  section.clubs .club-container h4 {
    width: 620px;
    margin: 0 auto 8px;
    font-family: "Ubuntu";
    font-size: 36px;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    color: white; }
  section.clubs .club-container p {
    width: 620px;
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }

section.outreach {
  background: #6FCF97;
  display: flex; }
  section.outreach .outreach-text {
    width: 70vw;
    margin: 100px 0; }
    section.outreach .outreach-text h3 {
      color: white;
      text-align: left;
      width: 620px;
      margin: 0 auto 8px; }
    section.outreach .outreach-text p {
      color: white;
      width: 620px;
      margin: 0 auto 8px; }

section.contact {
  background: #BB6BD9; }
  section.contact h3 {
    margin: 0 auto;
    padding: 50px 0;
    color: white; }
  section.contact .email-container {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 50px; }
    section.contact .email-container p {
      font-size: 24px;
      color: #828282; }
    section.contact .email-container .name {
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 4px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
    section.contact .email-container .email {
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 4px;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
    section.contact .email-container .message {
      width: 100%;
      height: 250px;
      background: white;
      border-radius: 4px;
      padding-top: 4px;
      margin-bottom: 24px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
    section.contact .email-container .send {
      width: 100px;
      height: 40px;
      background: #56CCF2;
      margin: auto;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
      section.contact .email-container .send p {
        color: white;
        text-align: center; }

/*# sourceMappingURL=main.css.map */
