* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row-reverse; }
  body main {
    width: 100vw;
    overflow: hidden; }
    body main h3 {
      text-align: center;
      font-size: 2.25rem;
      margin: 50px auto;
      color: #333333;
      font-family: "Ubuntu";
      font-weight: normal;
      padding: 0 12px;
      max-width: 620px; }
    body main p {
      font-size: 1.125rem;
      color: #4F4F4F;
      font-family: "Nunito";
      padding: 0 12px; }
    body main .button {
      position: absolute;
      height: 48px;
      width: 48px;
      border-radius: 100%;
      background: #BB6BD9;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      transition: transform 100ms ease-in-out; }
      body main .button:active {
        transform: scale(0.9); }
      body main .button img {
        margin: auto;
        height: 50%;
        width: 50%; }
    body main .left img {
      transform: rotate(180deg); }
  body a {
    text-decoration: none; }

@media (max-width: 900px) {
  body main h3 {
    font-size: 2rem; }
  body main p {
    font-size: 1rem; } }
footer {
  height: 150px;
  background: #333333; }

.nav-btn {
  height: 50px;
  width: 50px;
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .nav-btn span, .nav-btn span:before, .nav-btn span:after {
    content: "";
    display: block;
    height: 8px;
    width: 50px;
    border-radius: 2px;
    background: #828282;
    opacity: 0.9;
    position: relative;
    margin: auto;
    transition: transform 250ms ease-in-out; }
  .nav-btn span:before {
    top: 16px; }
  .nav-btn span:after {
    top: -24px; }

.nav-close span {
  background: transparent; }
.nav-close span:before {
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 1;
  top: 0;
  width: 50px;
  transform: rotate3d(0, 0, 1, 45deg); }
.nav-close span:after {
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 1;
  top: 0;
  width: 50px;
  transform: rotate3d(0, 0, 1, -45deg); }

nav {
  z-index: 2;
  background: #333333;
  width: 300px;
  transform: translateX(340px);
  padding: 20px;
  height: 100%;
  position: fixed;
  transition: transform 400ms ease-in-out; }
  nav a {
    font-size: 32px;
    color: white;
    font-family: "Ubuntu";
    cursor: pointer; }
  nav ul {
    margin-top: 30px;
    list-style-type: none; }
    nav ul a {
      color: white;
      font-size: 24px;
      font-family: "Nunito";
      line-height: 2em;
      cursor: pointer; }

.nav-active {
  transform: translateX(0); }

@media (max-width: 520px) {
  #nav-btn {
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px; }
    #nav-btn span, #nav-btn span:before, #nav-btn span:after {
      width: 35px;
      height: 6px; }
    #nav-btn span:before {
      top: 12px; }
    #nav-btn span:after {
      top: -18px; } }
section.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom right, rgba(86, 204, 242, 0.8), rgba(111, 207, 151, 0.8)), url("../img/hero-background.jpeg") bottom;
  background-size: cover;
  font-family: "Anton"; }
  section.hero h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: normal;
    opacity: 0.9; }
  section.hero h1 {
    text-align: center;
    font-size: 6rem;
    color: #4F4F4F;
    font-weight: normal;
    opacity: 0.9; }
  section.hero a {
    font-size: 2.25rem;
    font-family: "Anton";
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: transform 100ms ease-in-out;
    opacity: 0.9; }
    section.hero a:hover {
      transform: scale(1.1); }

@media (max-width: 900px) {
  section.hero h2 {
    font-size: 3rem; }
  section.hero h1 {
    font-size: 4.5rem; }
  section.hero a {
    font-size: 1.8rem; } }
@media (max-width: 520px) {
  section.hero h1 {
    font-size: 3rem; } }
section.introduction {
  min-height: 450px;
  padding-top: 50px; }
  section.introduction p {
    margin: 0 auto 8px;
    line-height: 1.4em;
    max-width: 620px; }
  section.introduction h3 {
    margin: 0 auto 8px auto; }

section.values {
  background: #56CCF2;
  display: flex;
  flex-direction: column; }
  section.values p {
    max-width: 620px;
    padding: 8px;
    color: white;
    margin: 20px auto auto auto;
    overflow: hidden;
    max-height: 400px;
    transition: all 500ms ease-in-out; }
  section.values .hidden {
    max-height: 0;
    padding: 0;
    margin: 0 auto; }
  section.values:before {
    width: 105vw;
    overflow: hidden;
    height: 10vw;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, white 50%, #56CCF2 50.5%); }
  section.values .value-container {
    width: 620px;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: space-between; }
    section.values .value-container .value-icon {
      height: 128px;
      width: 128px;
      background: #56CCF2;
      border: solid white 4px;
      margin: 0 auto;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transition: all 150ms ease-in-out;
      cursor: pointer; }
      section.values .value-container .value-icon:hover {
        transform: scale(1.1);
        border: solid white 6px; }
      section.values .value-container .value-icon #coop {
        width: 70%;
        height: 70%; }
      section.values .value-container .value-icon img {
        height: 60%;
        width: 60%;
        margin: auto; }
    section.values .value-container .value-active {
      background: #6FCF97;
      transform: scale(1.1);
      border: solid white 6px; }
    section.values .value-container .value-text-active {
      font-weight: bold; }
    section.values .value-container p {
      text-align: center;
      display: block;
      padding: 0;
      margin-top: 12px;
      color: white;
      font-size: 18px;
      transition: none; }
  section.values h3 {
    color: white; }

@media (max-width: 680px) {
  section.values .value-container {
    width: 100%; }
    section.values .value-container .value-icon {
      max-width: 25vw;
      max-height: 25vw;
      margin: 0 12px; } }
section.routine {
  background: #6FCF97;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section.routine h3 {
    color: white; }
  section.routine .calendar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    margin: auto; }
    section.routine .calendar-container .work-day {
      height: 64px;
      width: 64px;
      background: white;
      border-radius: 100%;
      border: solid white 4px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: border 200ms ease-in-out;
      margin: auto 0; }
      section.routine .calendar-container .work-day p {
        font-size: 20px;
        color: #6FCF97;
        padding: 0;
        text-align: center;
        cursor: default; }
    section.routine .calendar-container .off-day {
      height: 32px;
      width: 32px;
      background: white;
      border-radius: 100%;
      border: solid white 4px;
      margin: auto 0;
      position: relative; }
    section.routine .calendar-container .mandatory-active {
      border: solid #BB6BD9 4px; }
    section.routine .calendar-container .optional-active {
      border: solid #56CCF2 4px; }
    section.routine .calendar-container .calendar-bar {
      height: 6px;
      flex-grow: 1;
      background: white;
      margin: auto 0; }
  section.routine .day-container {
    width: 620px;
    margin: 25px auto 0;
    display: flex;
    justify-content: center; }
    section.routine .day-container div {
      border-left: 4px solid #6FCF97;
      border-top: 4px solid #6FCF97;
      transition: border 200ms ease-in-out; }
    section.routine .day-container h4 {
      padding: 12px;
      color: white;
      font-family: "Ubuntu";
      font-size: 20px; }
    section.routine .day-container p {
      color: white; }
    section.routine .day-container .mandatory-active {
      border-left: 4px solid white;
      border-top: 4px solid white; }
    section.routine .day-container .optional-active {
      border-left: 4px solid white;
      border-top: 4px solid white; }

@media (max-width: 680px) {
  section.routine .calendar-container {
    width: 95%; }
    section.routine .calendar-container .work-day {
      max-width: 12vw;
      max-height: 12vw; }
    section.routine .calendar-container .off-day {
      max-width: 6vw;
      max-height: 6vw; }
  section.routine .day-container {
    width: 95%; } }
@media (max-width: 400px) {
  section.routine .calendar-container .work-day p {
    font-size: 16px; } }
section.hours {
  background: #BB6BD9;
  display: flex;
  flex-direction: column; }
  section.hours h3 {
    color: white; }
  section.hours .alarm-container {
    position: relative;
    margin: auto auto 25px auto; }
    section.hours .alarm-container object {
      max-height: 235px;
      max-width: 100%; }
  section.hours:after {
    width: 105vw;
    overflow: hidden;
    margin-top: auto;
    height: 10vw;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, #BB6BD9 50%, white 50.5%); }

section.awards {
  padding-top: 50px; }
  section.awards h3 {
    margin: 0 auto 50px auto; }
  section.awards .trophy-container {
    position: relative;
    height: 500px;
    width: 400px;
    max-width: 90%;
    margin: auto auto 100px auto;
    display: flex; }
    section.awards .trophy-container object {
      position: absolute;
      max-width: 100%;
      transition: all 600ms ease-in-out 800ms;
      opacity: 1; }
    section.awards .trophy-container .hidden {
      opacity: 0;
      transition: all 600ms ease-in-out;
      transform: translateY(40px); }
    section.awards .trophy-container .left {
      z-index: 1;
      left: -10px;
      top: 60%; }
    section.awards .trophy-container .right {
      right: -10px;
      top: 60%; }
  section.awards .qual-bar {
    width: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.awards .qual-bar .container {
      margin: 25px auto;
      width: 620px;
      display: flex;
      justify-content: space-between; }
      section.awards .qual-bar .container .qualifications {
        display: flex; }
        section.awards .qual-bar .container .qualifications p {
          font-family: "Ubuntu";
          font-size: 48px;
          color: white;
          padding: 0; }
        section.awards .qual-bar .container .qualifications p.label {
          font-size: 24px;
          padding: 0 12px; }

@media (max-width: 680px) {
  section.awards .qual-bar {
    padding: 20px 0; }
    section.awards .qual-bar .container {
      width: 100%;
      justify-content: center;
      flex-direction: column; }
      section.awards .qual-bar .container .qualifications {
        margin: 10px auto; } }
section.teacher {
  padding-top: 50px; }
  section.teacher h3 {
    margin: 0 auto 50px auto; }
  section.teacher .teacher-img {
    background: linear-gradient(to bottom right, rgba(187, 107, 217, 0.4), rgba(111, 207, 151, 0.4)), url("../img/teacher-placeholder.jpeg") center;
    background-size: cover;
    width: 300px;
    height: 300px;
    max-width: 70vw;
    max-height: 70vw;
    border-radius: 100%;
    margin: auto; }
  section.teacher p {
    max-width: 620px;
    margin: 50px auto; }

section.diversity {
  display: flex; }
  section.diversity .diversity-images {
    background: pink;
    width: 50vw;
    display: flex;
    flex-wrap: wrap; }
    section.diversity .diversity-images img {
      height: 10vw;
      width: 20%; }
  section.diversity .diversity-blurb {
    background: #333333;
    min-height: 40vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.diversity .diversity-blurb h3 {
      color: white;
      max-width: 620px;
      margin-bottom: 25px; }
    section.diversity .diversity-blurb p {
      color: white;
      max-width: 620px;
      margin: 0 auto 50px; }

@media (max-width: 800px) {
  section.diversity {
    flex-wrap: wrap-reverse; }
    section.diversity .diversity-images {
      width: 100vw; }
      section.diversity .diversity-images img {
        height: 20vw;
        width: 20%; }
    section.diversity .diversity-blurb {
      width: 100vw; } }
section.clubs {
  padding-top: 50px; }
  section.clubs h3 {
    margin: 0 auto 50px auto; }
  section.clubs hr {
    max-width: 150px;
    margin: auto auto 50px auto;
    background: #333333;
    height: 3px;
    border: none; }
  section.clubs #stem-bg {
    background: linear-gradient(to right, rgba(111, 207, 151, 0.9), rgba(187, 107, 217, 0.9)), url("../img/stem-bg.svg") center;
    background-attachment: fixed;
    background-size: cover; }
  section.clubs #vex-bg {
    background: linear-gradient(to right, rgba(187, 107, 217, 0.9), rgba(86, 204, 242, 0.9)), url("../img/vex-bg.svg") center;
    background-attachment: fixed;
    background-size: cover; }
  section.clubs #tsa-bg {
    background: linear-gradient(to right, rgba(86, 204, 242, 0.9), rgba(111, 207, 151, 0.9)), url("../img/tsa-bg.svg") center;
    background-attachment: fixed;
    background-size: cover; }
  section.clubs .club-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.clubs .club-container .button-container {
      margin: 25px auto 50px auto;
      display: flex; }
      section.clubs .club-container .button-container .button {
        position: relative;
        background: #4F4F4F;
        margin: 0 50px; }
        section.clubs .club-container .button-container .button:active {
          transform: scale(0.9); }
    section.clubs .club-container h4 {
      width: 620px;
      margin: 50px auto 8px;
      padding: 0 12px;
      text-align: left;
      font-family: "Ubuntu";
      font-size: 36px;
      font-weight: normal;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      color: white; }
    section.clubs .club-container p {
      max-width: 620px;
      margin: 0 auto;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }
    section.clubs .club-container .hidden {
      display: none; }

@media (max-width: 680px) {
  section.clubs .club-container h4 {
    width: 95%; }
  section.clubs .club-container p {
    width: 95%; } }
section.outreach {
  background: #6FCF97;
  display: flex; }
  section.outreach .outreach-text {
    width: 70vw;
    margin: 50px 0; }
    section.outreach .outreach-text h3 {
      color: white;
      text-align: left;
      max-width: 620px;
      margin: 0 auto 8px; }
    section.outreach .outreach-text p {
      color: white;
      max-width: 620px;
      margin: 0 auto 8px; }

@media (max-width: 800px) {
  section.outreach {
    flex-direction: column; }
    section.outreach .outreach-text {
      width: 100%; } }
section.contact {
  background: #BB6BD9; }
  section.contact h3 {
    margin: 0 auto;
    padding: 50px 0;
    color: white; }
  section.contact form {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 12px 50px;
    display: flex;
    flex-direction: column; }
    section.contact form input {
      font-size: 24px;
      color: #4F4F4F;
      border: none;
      padding-left: 12px;
      font-family: "Nunito";
      height: 50px;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
    section.contact form .name {
      margin-bottom: 12px; }
    section.contact form .email {
      margin-bottom: 24px; }
    section.contact form .message {
      height: 250px;
      border-radius: 4px;
      margin-bottom: 24px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      font-size: 24px;
      color: #4F4F4F;
      border: none;
      padding: 8px 0 0 12px;
      resize: none;
      font-family: "Nunito"; }
    section.contact form .send {
      width: 100px;
      height: 40px;
      background: #56CCF2;
      margin: auto;
      border-radius: 4px;
      color: white;
      text-align: center;
      padding-left: 0;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
