* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row-reverse; }
  body main {
    flex: auto;
    overflow: hidden; }
    body main h3 {
      text-align: center;
      font-size: 36px;
      color: #333333;
      font-family: "Ubuntu";
      font-weight: normal;
      padding: 0 12px;
      max-width: 620px; }
    body main p {
      font-size: 18px;
      color: #4F4F4F;
      font-family: "Nunito";
      padding: 0 12px; }

.nav-btn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center; }
  .nav-btn span, .nav-btn span:before, .nav-btn span:after {
    content: "";
    display: block;
    height: 8px;
    width: 50px;
    border-radius: 2px;
    background: #828282;
    opacity: 0.9;
    position: relative;
    margin: auto; }
  .nav-btn span:before {
    top: 16px; }
  .nav-btn span:after {
    top: -24px; }

nav {
  width: 0;
  overflow: hidden; }

section.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(86, 204, 242, 0.8), rgba(111, 207, 151, 0.8)), url("../img/hero-background.jpeg") bottom;
  background-size: cover;
  font-family: "Anton"; }
  section.hero h2 {
    text-align: center;
    font-size: 64px;
    color: white;
    font-weight: normal;
    opacity: 0.9;
    line-height: 1em; }
  section.hero h1 {
    text-align: center;
    font-size: 96px;
    color: #4F4F4F;
    font-weight: normal;
    opacity: 0.9; }
  section.hero a {
    font-size: 36px;
    font-family: "Anton";
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: transform 100ms ease-in-out;
    opacity: 0.9; }
    section.hero a:hover {
      transform: scale(1.1); }

section.introduction {
  min-height: 450px; }
  section.introduction h3 {
    margin: 40px auto 0 auto; }
  section.introduction p {
    margin: 20px auto 0 auto;
    line-height: 1.4em;
    max-width: 620px; }

section.values {
  height: 500px;
  background: #56CCF2;
  display: flex;
  flex-direction: column; }
  section.values:before {
    height: 100px;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, white 50%, #56CCF2 50%); }
  section.values .value-container {
    width: 620px;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between; }
    section.values .value-container .value-icon {
      height: 128px;
      width: 128px;
      background: white;
      border-radius: 100%; }
    section.values .value-container p {
      text-align: center;
      margin-top: 12px;
      color: white;
      font-size: 24px; }
  section.values h3 {
    color: white;
    padding: 50px;
    margin: 0 auto; }

section.routine {
  height: 400px;
  background: #6FCF97;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section.routine h3 {
    color: white;
    padding: 50px 0;
    margin: 0 auto; }

section.hours {
  height: 500px;
  background: #BB6BD9;
  display: flex;
  flex-direction: column; }
  section.hours h3 {
    color: white;
    padding: 50px 0;
    margin: 0 auto; }
  section.hours .alarm-container {
    position: relative;
    margin: auto; }
    section.hours .alarm-container object {
      height: 230px; }
    section.hours .alarm-container p {
      position: absolute;
      font-size: 132px;
      text-align: center;
      bottom: 30px;
      left: 0;
      right: 0;
      width: 400px;
      margin: 0 auto;
      opacity: 0.9; }
      section.hours .alarm-container p span {
        font-size: 32px; }
  section.hours:after {
    margin-top: auto;
    height: 100px;
    display: block;
    content: "";
    background: linear-gradient(to left bottom, #BB6BD9 50%, white 50%); }

/*# sourceMappingURL=main.css.map */
