*
  margin: 0
  padding: 0

body
  display: flex
  min-height: 100vh
  flex-direction: row-reverse
  main
    flex: auto
    overflow: hidden
    h3
      text-align: center
      font-size: 36px
      margin: 50px auto
      color: $primary-grey
      font-family: $heading-font
      font-weight: normal
      padding: 0 12px
      max-width: 620px
    p
      font-size: 18px
      color: $secondary-grey
      font-family: $body-font
      padding: 0 12px
